    body {
        background-color: #e9e9e9;
        text-align: center;
    }
    h1 {
        margin: 30px;
    }
    .container div {
        display: inline-block;
        padding: 5px;
    }
    .buttonsDiv {
        margin-top: 50px
    }
    .panel {
        width: 250px;
        height: 250px;
        display: inline-block;
        margin: 6px;
        cursor: pointer;
        opacity: 0.6;
    }
    .panel:hover {
        box-shadow: inset 0px 0px 0px 3px brown;
        box-sizing: border-box;
    } 
    .bottom-left-panel {
        border-bottom-left-radius: 100%;
        background-color: #FEEF33;
    }
    .bottom-right-panel {
        border-bottom-right-radius: 100%;
        background-color: #BEDE15;
    }
    .top-left-panel {
        border-top-left-radius: 100%;
        background-color: dodgerblue;
    }
    .top-right-panel {
        border-top-right-radius: 100%;
        background-color: #FF5643;
    }
    .active {
        background-color: white;
    }
    #startButton {
        margin: 20px;
        width: 150px;
        height: 80px;
    }